<!DOCTYPE html>
<html>
  <head>
    <title>Satisfy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.fullLogo = "<%= image_url('Satisfy-Final-Logo.png') %>";
    </script>
    <script type="text/javascript">
      window.splash6 = "<%= image_url('Eloise.JPG') %>";
    </script>
    <script type="text/javascript">
      window.splash5 = "<%= image_url('homemadekazoku.JPG') %>";
    </script>
    <script type="text/javascript">
      window.splash4 = "<%= image_url('horizons.JPG') %>";
    </script>
    <script type="text/javascript">
      window.splash3 = "<%= image_url('tommisch.JPG') %>";
    </script>
    <script type="text/javascript">
      window.splash2 = "<%= image_url('ylang_photo.JPG') %>";
    </script>
    <script type="text/javascript">
      window.splash1 = "<%= image_url('junemarieezy2_photo.JPG') %>";
    </script>
    <script type="text/javascript">
      window.playButton = "<%= image_url('Spotify-Play-Button.png') %>";
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
    ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <meta name="title" property="og:title" content="Satisfy" />
     <meta name="image" property="og:image" content="https://satisfy-seed.s3.us-west-1.amazonaws.com/images/satisfylikedsongs.JPG"/>
     <meta name="description" property="og:description"
       content="Satisfy is a Spotify-inspired web app, where users can listen to music, like songs and albums, follow artists, and discover new songs.	"
     />
     <meta name="author" content="Rizza Marzo">
     <meta property="og:url"
       content="https://satisfy-your-music-cravings.herokuapp.com/#/us" 
     />

    </head>

  <body>
    <%= yield %>
  </body>
</html>
